{% extends "base.html" %}

{% block title %} Voronova game {{game_name}} {% endblock %}
{% block title2 %} Voronova game {{game_name}} {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/game.css">
{% endblock %}

{% block content %}
    <div style="height: 500px; width: 500px;" id="board-holder">
        <svg viewBox="0 0 44 44">
            {% for edge in edges %}
                <line
                x1={{edge.x1}}
                y1={{edge.y1}}
                x2={{edge.x2}}
                y2={{edge.y2}}
                stroke="black"
                stroke-width="0.5%"
                ></line>
            {% endfor %}
            {% for cell in cells %}
                <circle
                id="cell-{{ cell.num }}"
                data-num="{{ cell.num }}"
                cx="{{cell.x}}"
                cy="{{cell.y}}"
                r="{{radius}}"
                {% if cell.color is defined %}
                    class="voro-cell voro-cell-clicked voro-token-{{ cell.color }}"
                {% else %}
                class="voro-cell"
                {% endif %}>
                    <title>Cell {{ cell.num }}</title>
                </circle>
            {% endfor %}
        </svg>
    </div>

    <div id="status-holder">
        <div>
            <span class="voro-to-move-1">Red to move.</span>
            <span class="voro-to-move-2">Blue to move.</span>
            <span><span id="moves-left-counter"></span> move(s) left.</span>
        </div>
        <div>
            <span class="voro-border-filled">
                Border filled. <span id="connections-remaining-counter"></span> connection(s) left.
            </span>
        </div>
    </div>
    <div id="score-holder">
        Final score: Red <span id="score-1-counter"></span>, Blue <span id="score-2-counter"></span>
    </div>
    <div id="websocket-closed" class="voro-hide">
        WebSocket connection has closed! Refresh to regain synchronization.
    </div>
{% endblock %}

{% block after %}
    <script src="/static/game.js"></script>
    {{ game_status_json|set_status_js }}
{% endblock %}