<!DOCTYPE html>
<head>
    <title>Voronova!</title>
    <style>
        circle.voro-cell {
            fill-opacity: 0;
        }
        circle.voro-cell:hover {
            fill-opacity: 0.3;
        }
        circle.voro-cell.voro-cell-clicked {
            fill-opacity: 1;
        }
        circle.voro-token-1 {
            fill: red;
        }
        circle.voro-token-2 {
            fill: blue;
        }
    </style>
</head>
<body>
    <h1>Voronova game {{game_name}}</h1>

    <div style="height: 500px; width: 500px;">
        <svg viewBox="0 0 44 44">
            {% for edge in edges %}
                <line
                x1={{edge.x1}}
                y1={{edge.y1}}
                x2={{edge.x2}}
                y2={{edge.y2}}
                stroke="black"
                stroke-width="0.5%"
                ></line>
            {% endfor %}
            {% for cell in cells %}
                <circle
                id="cell-{{ cell.num }}"
                data-num="{{ cell.num }}"
                cx="{{cell.x}}"
                cy="{{cell.y}}"
                r="{{radius}}"
                {% if cell.color is defined %}
                    class="voro-cell voro-cell-clicked voro-token-{{ cell.color }}"
                {% else %}
                class="voro-cell"
                {% endif %}>
                    <title>Cell {{ cell.num }}</title>
                </circle>
            {% endfor %}
        </svg>
    </div>

    <div>
        <select name="color" id="color">
            <option value="1">Red</option>
            <option value="2">Blue</option>
        </select>
    </div>

    <script type="text/javascript">
        var protocol = location.protocol == 'http:' ? 'ws:' : 'wss:';
        var sock = new WebSocket(protocol + location.host + location.pathname);
        sock.onmessage = function(event) {
            data = JSON.parse(event.data);
            console.log(data)
            if (data.action === 'PLAY_TOKEN') {
                var token_id = data.location;
                var cell = document.getElementById('cell-' + token_id);
                cell.classList.add('voro-token-' + data.color)
                cell.classList.add('voro-cell-clicked');
            }
        };
        function send_json(message) {
            raw_message = JSON.stringify(message);
            sock.send(raw_message);
        }
        var cells = document.getElementsByClassName('voro-cell');
        for (var cell of cells) {
            cell.addEventListener('click', function() {
                var color_select = document.getElementById("color");
                var color = color_select.options[color_select.selectedIndex].value;
                send_json({
                    action: 'PLAY_TOKEN',
                    location: this.dataset.num,
                    color: color,
                });
                console.log(this)
            });
        }
        
    </script>
</body>