{% extends "base.html" %}

{% block content %}
    <div>
        <form method="post">
            <input 
            type="text" 
            name="username" 
            id="username"
            value="{{username}}">
            <input type="submit" value="Log in!">
        </form>
    </div>
    <div>
        <form action="/signup" method="post">
            <input 
            type="text" 
            name="username" 
            id="username"
            value="">
            <input type="submit" value="Sign up!">
        </form>
    </div>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Log out!">
        </form>
    </div>
    
{% endblock %}